*.csv filter=lfs diff=lfs merge=lfs -text
FY22NIVDetailTable[[:space:]]-[[:space:]]NIV_FY22[[:space:]]CSV.csv filter=lfs diff=lfs merge=lfs -text
combined_lca_data.csv filter=lfs diff=lfs merge=lfs -text
